@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center" style="margin-bottom: 200px">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div>
          <div class="card-body p-5 text-center">
            <img src="~/images/SERLogo.png" width="450" style="margin-bottom: 40px"/>
            <form id="formLogin" method="post">
              <div class="form-outline mb-4">
                <input type="text" id="inputUsuario" asp-for="Usuario.NombreUsuario" placeholder="Usuario" class="form-control form-control-lg"/>
                <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="inputContraseña" asp-for="Usuario.Contra" placeholder="Contraseña" class="form-control form-control-lg"/>
              </div>
              <input id="btnIniciarSesion" type="submit" class="btn btn-primary btn-lg btn-block" value="Iniciar sesión" style="background-color: #2957CD"/>
              <br/>
              <br/>
              <a asp-page="#">¿Has olvidado tú contraseña?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@if (TempData["Error"] != null)
{
    <div id="alertMessage" class="alert alert-danger">
        @TempData["Error"]
    </div>
}

    
