@page
@model IndexModel

@{
  ViewData["Title"] = "Inicio de Sesión";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Index.css" />
}

<div class="container d-flex justify-content-center align-items-center text-center p-5 rounded-9 shadow-6 form-login-container">
  <div>
    <img src="~/images/ser-logo.png" class="logo-ser img-fluid" alt="Sistema de Experiencia Recepcional" />
    <h2 class="my-4 text-dark fs-2 display-6">Inicio de Sesión</h2>
    @if (ViewData["MessageError"] != null) 
    {
      <div role="alert" class="alert alert-danger mb-4">
        @ViewData["MessageError"]
      </div>
    }
    <form method="post" asp-page-handler="Login">
      <div class="form-outline mb-4 d-flex justify-content-end align-items-center">
        <input type="text" id="input-user" class="form-control form-control-lg" autocomplete="off" asp-for="user!.Username" required/>
        <label class="form-label" for="input-user">Usuario</label>
        <i class="fas fa-user-alt fa-lg px-3"></i>
        <!-- <i class="fa-regular fa-user fa-lg px-3"></i> -->
      </div>
      <div class="form-outline mb-4 d-flex justify-content-end align-items-center">
        <input type="password" id="input-password" class="form-control form-control-lg" asp-for="user!.Password" />
        <label class="form-label" for="input-password">Contraseña</label>
        <i role="button" class="fas fa-eye fa-lg px-3 icon-login" id="icon-password" aria-label="Mostrar contraseña"></i>
        <!-- <i role="button" class="fa-regular fa-eye px-3 icon-login" id="icon-password" aria-label="Mostrar contraseña"></i> -->
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg mb-4">
          Iniciar sesión
        </button>
      </div>
      <a role="button" class="text-decoration" asp-page="/Account/RecoveryPassword">
        ¿Quieres cambiar o recuperar tu contraseña?
      </a>
    </form>
  </div>
</div>

@section Scripts {
  <script src="~/js/Index.js"></script>
}