:root {
	--uv-blue-color: #18529d;
	--sucess-secundary-color: #dfe7f6;
	--sucess-color: #202124;
	--danger-color: #f8d7da;
}

#form-navbar-search {
	margin-left: 250px;
}

#form-navbar-search #input-navbar-search {
	border-radius: 15px !important;
	width: 265px;
}

#input-navbar-search:focus {
	box-shadow: 0 0 0 0.2rem rgba(24, 82, 157, 0.25) !important;
}

@media (min-width: 991.98px) {
	main {
		padding-left: 240px;
	}
}

.list-group-item {
	border: none !important;
}

.list-group-item:hover {
	background-color: rgba(0, 0, 0, 0.103) !important;
	border-radius: 10px !important;
}

footer {
	font-size: 0.85rem;
	position: fixed;
	height: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

nav#side-nav {
	z-index: 700;
}

header#navbar {
	z-index: 699;
}

main[role="main"] {
	padding-top: 68.2px;
}

#side-nav {
	min-width: 240px;
	max-width: 240px;
	height: 100%;
	transition: all 0.4s;
	/* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); */
}

.content {
	min-height: 100vh;
	width: 100%;
}

.sidebar li.active {
	background: var(--sucess-secundary-color);
	border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
	color: var(--uv-blue-color);
}

@media (max-width: 991.98px) {
	#side-nav {
		margin-left: -240px;
		position: fixed;
		min-height: 100vh;
		z-index: 701 !important;
	}

	#side-nav.active {
		margin-left: 0;
	}

	#form-navbar-search {
		margin-left: 10px;
	}
}
