@media (min-width: 991.98px) {
	main {
		padding-left: 240px;
	}
}

@media (max-width: 300px) {
	.navbar-brand .navbar-brand p,
	.navbar-brand img {
		display: none !important;
	}
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 58px 0 0;
	/* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); */
	width: 240px;
	z-index: 600;
}

@media (max-width: 991.98px) {
	.sidebar {
		width: 100%;
	}
}

.sidebar .active {
	border-radius: 15px;
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.list-group-item {
	border: none !important;
}

.list-group-item:hover {
	background-color: rgba(0, 0, 0, 0.103) !important;
	border-radius: 10px !important;
}

footer {
	font-size: 0.85rem;
	position: fixed;
	height: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

#main-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	margin-bottom: 100px;
}

main[role="main"] {
	padding-top: 68.2px;
}
