@page
@model SER.Pages.Menus.ManagementModel
@{
  Layout = "~/Pages/Shared/_LoginLayout.cshtml";
  ViewData["Title"] = "Administración";
}

<style>  
  .card-text-number {
    font-size: 2rem;
    font-weight: 800;
  }
</style>


<div class="row row-cols-1 row-cols-md-3 g-4 mx-3 my-1">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title fw-normal"></h5>
        <p class="card-text text-black card-text-number">
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title fw-normal"></h5>
        <p class="card-text text-black card-text-number">
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
        
        </p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
