@page
@model SER.Pages.Menus.UICoordinador

@{
  ViewData["Title"] = "Coordinación";
}

<div class="mainbody">
  <div class="mainpaneler container text-center">
    <div class="row">
      <div class="col-md-4">
        <button id="btnExperienciaRecepcional" class="btnPanel" onclick="window.open('../UICoordinador/UIExperienciaRecepcional', '_self')">Experiencia recepcional</button>
      </div>
      <div id="btnCuerpoAcademico" class="col-md-4">
        <button class="btnPanel" onclick="window.open('../UICoordinador/UICuerpoAcademico','_self')">Cuerpo académico</button>
      </div>
      <div id="btnAcademia" class="col-md-4">
        <button class="btnPanel" onclick="window.open('../UICoordinador/UIAcademia','_self')" disabled>Academia</button>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="UICoordinador">Coordinación</a>
                                        </li>`
  }
  </script>
}


