@page
@model SER.Pages.Menus.UIMaestroModel
@{
    ViewData["Title"] = "Menu maestro";
}

<div class="mainbody">
  <div class="mainpaneler container text-center">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <button id="btnExpedientes" class="btnPanel" asp-page-handler="expedientes" asp-route-id="@Request.Query["id"]">Expedientes</button>
        </div>
        <div class="col-md-4">
          <button id="btnExperiencias" class="btnPanel" asp-page-handler="experiencias" asp-route-id="@Request.Query["id"]">Mis experiencias</button>
        </div>
      </div>
    </form>
  </div>
</div>

@section Scripts
{
  <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  const valores = window.location.search;
  const params = new URLSearchParams(valores)
  let idMaestro = params.get('id');
  sessionStorage.setItem('idMaestro', idMaestro);
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" onclick="window.location.reload()">Maestro</a>
                                        </li>`
  }
  </script>
}
