@page
@model SER.Pages.Menus.UIMaestroModel
@{
    ViewData["Title"] = "Menu maestro";
}

<div class="container text-center">
    <h2 id="h2MenuMaestro">Menú principal</h2>
    <hr />
    <br />
    <a asp-area="" asp-page="/RegistrarSinodal" type="button" class="btn btn-primary btn-lg">Registrar sinodal</a>
    <br /><br />
    <a asp-area="" asp-page="/RegistrarDocumentoProyectoGuiado" type="button" class="btn btn-primary btn-lg">Registrar documento de proyecto guiado</a>
</div>
