@page
@model SER.Pages.UICoordinador.CuerpoAcademico.ProyectosdeInvestigacion

@{
    ViewData["Title"] = "Proyectos de investigación";
}

<div class="container">
    <div class="container">
        <div class="input-group mb-3" style="margin-top: 50px">
            <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" placeholder="Búscar proyecto de investigación">
            <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
            <button class="btn btn-success" style="float: right; border-radius: 5px; margin-left: 5px" onclick="window.open('RegistrarProyecto', '_self')" type="button">Registrar proyecto</button>
            <button class="btn btn-primary" style="float: right; border-radius: 5px; margin-left: 5px" type="button">Modificar info</button>
        </div>
    </div>
    
    <div id="seleccionarAlumnos">
        <hr />
        <div class="form-group">
            <div class="table-responsive">
                <table id="tbltrabajosrecepcionales" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fecha de inicio</th>
                    </tr>
                    </thead>
                    <tbody>
                            @foreach (var proyecto in @Model.listaProyectos)
                            {
                                <tr>
                                    <td>@proyecto.nombreProyecto</td>
                                    <td>@proyecto.tipoProyecto</td>
                                    <td>@proyecto.fechaInicio</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
     <script show>
          let headerUV = document.getElementById("uv_header");
          let navPrincipal = document.getElementById("nav-principal");
          let sectionButtons = document.getElementById("section-buttons");
          let titleNav = document.getElementById("title-nav");
          let navigation = document.getElementById("navigation");
          let listaNavegacion = document.getElementById("element-list");
          
          window.onload = function (){
            navPrincipal.hidden = false;
            listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                              <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                            </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                <a class="nav-link">></a>
                                            </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link" href="../UICuerpoAcademico">Cuerpo academico</a>
                                                </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                <a class="nav-link">></a>
                                            </li>
                                            <li class="nav-item active" style="font-size: 25px">
                                                 <a class="nav-link" href="ProyectosdeInvestigacion">Ver proyectos de investigación</a>
                                            </li>`
                                                
          }
          </script>
}

