@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SER.Pages.UICoordinador.CuerpoAcademico.RegistrarProyecto

@{
    ViewData["Title"] = "Selección de registro";
}



<form id="seleccionRegistro" method="post" style="margin-top: 50px">
    <div id="registroSeleccion" class="container">
        <div class="container p-2 h-100" style="margin-top: 40px">
            <h2 class="card-title" style="text-align: center; margin-bottom: 40px">Tipo de proyecto a registrar</h2>
            <div class="d-flex justify-content-center align-content-center h-100">
                <select id="select_tipo" asp-for="@Model.tipoRegistro" class="form-select" style="border-radius: 5px; width: 50%">
                    <option selected disabled="disabled">Selecciona tipo de proyecto</option>
                    <option value="Proyecto de investigación">Proyecto de investigación</option>
                    <option value="pladea">PLADEA</option>
                    <option value="Proyecto de vinculación">Proyecto de vinculación</option>
                </select>
            </div>
        </div>
        <div class="container p-5 h-100">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="submit" id="btn_Confirmar" style="width: 100px" class="btn btn-success" value="Confirmar"/>
            </div>
        </div>
    </div>
</form>


@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

@section Scripts
{
    <script show>
              let headerUV = document.getElementById("uv_header");
              let navPrincipal = document.getElementById("nav-principal");
              let sectionButtons = document.getElementById("section-buttons");
              let titleNav = document.getElementById("title-nav");
              let navigation = document.getElementById("navigation");
              let listaNavegacion = document.getElementById("element-list");
              
              window.onload = function (){
                navPrincipal.hidden = false;
                listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                                  <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                                </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link">></a>
                                                </li>
                                                    <li class="nav-item" style="font-size: 25px">
                                                        <a class="nav-link" href="../UICuerpoAcademico">Cuerpo academico</a>
                                                    </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link">></a>
                                                </li>
                                                <li class="nav-item active" style="font-size: 25px">
                                                     <a class="nav-link" href="ProyectosdeInvestigacion">Ver proyectos de investigación</a>
                                                </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link">></a>
                                                </li>
                                                <li class="nav-item active" style="font-size: 25px">
                                                     <a class="nav-link" href="RegistrarProyecto">Registrar proyecto</a>
                                                </li>`
                                                    
              }
              </script>
}
