@page
@model SER.Pages.UICoordinador.CuerpoAcademico.RegistroPLADEA

@{
    ViewData["Title"] = "Registro PLADEA";
}

<form id="registrarPladeaForm" method="post">
    <div class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px">
            <h3 style="font-size: 20px">REGISTRAR PROYECTO PLADEA</h3>
        </div>
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="text" id="input_nombreLgac" asp-for="@Model.pladeaRegistrar.Accion" style="width: 348px;" placeholder="Acción" class="form-control" required="required"/>
        </div>
    </div>
    <div class="container p-2 h-100">
        <div class="d-flex justify-content-center align-content-center h-100">
            <label style="margin-bottom: 15px; margin-top: 25px">Selecciona los años del periodo:</label>
        </div>
        <div class="d-flex justify-content-center align-content-center h-100">
            <select class="form-control" id="yearStart" name="FechaInicio" style="width: 13%; margin-right: 15px">
                <option value="-1" disabled="disabled" selected>Año de inicio</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
                <option value="2036">2036</option>
                <option value="2037">2037</option>
                <option value="2038">2038</option>
                <option value="2039">2039</option>
                <option value="2040">2040</option>
                <option value="2041">2041</option>
                <option value="2042">2042</option>
                <option value="2043">2043</option>
                <option value="2044">2044</option>
                <option value="2045">2045</option>
                <option value="2046">2046</option>
                <option value="2047">2047</option>
                <option value="2048">2048</option>
                <option value="2049">2049</option>
                <option value="2050">2050</option>
            </select>
            <select class="form-control" id="yearEnd" style="width: 13%" name="FechaFin">
                <option value="-1"disabled="disabled" selected>Año de finalización</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
                <option value="2036">2036</option>
                <option value="2037">2037</option>
                <option value="2038">2038</option>
                <option value="2039">2039</option>
                <option value="2040">2040</option>
                <option value="2041">2041</option>
                <option value="2042">2042</option>
                <option value="2043">2043</option>
                <option value="2044">2044</option>
                <option value="2045">2045</option>
                <option value="2046">2046</option>
                <option value="2047">2047</option>
                <option value="2048">2048</option>
                <option value="2049">2049</option>
                <option value="2050">2050</option>
            </select>
        </div>
    </div>
    <textarea itemid="idPladeaObjetivo" asp-for="@Model.pladeaRegistrar.ObjetivoGeneral" class="form-control" style="width: 100%; margin-top: 20px" placeholder="Objetivo general" rows="8" required></textarea>
    <div class="container p-5 h-100">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="submit" class="btn btn-success" id="btnGuardarPladea" value="Guardar registro"/>
        </div>
    </div>
</form>


@if (TempData["ErrorDateMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorDateMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"], redirigiendo...
    </div>
    
    <script>
        document.getElementById("btnGuardarPladea").setAttribute('disabled', true)
         setTimeout(() => { window.location.href = 'ProyectosdeInvestigacion' }, 2000);
    </script>
}



@section Scripts
{
    <script show>
        let headerUV = document.getElementById("uv_header");
        let navPrincipal = document.getElementById("nav-principal");
        let sectionButtons = document.getElementById("section-buttons");
        let titleNav = document.getElementById("title-nav");
        let navigation = document.getElementById("navigation");
        let listaNavegacion = document.getElementById("element-list");
                      
                      window.onload = function (){
                        navPrincipal.hidden = false;
                        listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                                          <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                                        </li>
                                                        <li class="nav-item" style="font-size: 25px">
                                                            <a class="nav-link">></a>
                                                        </li>
                                                            <li class="nav-item" style="font-size: 25px">
                                                                <a class="nav-link" href="../UICuerpoAcademico">Cuerpo academico</a>
                                                            </li>
                                                        <li class="nav-item" style="font-size: 25px">
                                                            <a class="nav-link">></a>
                                                        </li>                            <li class="nav-item" style="font-size: 25px">
                                                                                                                         <a class="nav-link">></a>
                                                                                                                     </li>
                                                                                                                     <li class="nav-item active" style="font-size: 25px">
                                                                                                                          <a class="nav-link" href="RegistrarProyecto">Registrar proyecto</a>
                                                                                                                     </li>`
                                                                                                                         
                                                                                   }
                                                                                   </script>
                                                             }

                                                        <li class="nav-item" style="font-size: 25px">
                                                             <a class="nav-link" href="ProyectosdeInvestigacion">Ver proyectos de investigación</a>
                                                        </li>
                            