@page
@model SER.Pages.UICoordinador.ExperienciaRecepcional.AsignarSinodales

@{
    ViewData["Title"] = "Asignar sinodales";
}

@Html.AntiForgeryToken()
<div id="registro_pt2" class="container" style="width: 100%" >
    <div class="container">
        <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px">
            <h3 style="font-size: 20px; margin-top: 40px">ASIGNAR SINODALES</h3>
        </div>
        <div class="input-group mb-2" style="margin-top: 50px; width: 50%">
            <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px; margin-left: 80px" placeholder="Búscar sinodal">
            <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
        </div>
    </div>
    <div class="input-group mb-2" style="margin-top: 20px;">
        <div class="table-responsive" style="width: 50%; margin-right: 50px; margin-left: 60px; max-height: 500px">
            <h3>Sinodales disponibles</h3>
            <table id="tblsinodales" class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Asignación</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="table-responsive table-bordered" style="width: 35%; margin-left: 80px; max-height: 500px">
            <h3>Sinodales asignados</h3>
            <table id="tblsinodalesAsignados" class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 30%; margin-left: 80px; float: left">
        <div id="seleccionError"  class="alert alert-danger" hidden>
            Debe seleccionar un tipo de sinodal.
        </div>
        <div id="errorDirector"  class="alert alert-danger" hidden>
            Ya hay un director registrado en este trabajo recepcional.
        </div>
        <div id="sinodalesInvalidos" class="alert alert-danger" hidden>
            Solo se admiten 3 sinodales por trabajo recepcional.
        </div>
        <select id="select_tipo"  class="form-select" style="border-radius: 5px; float: left">
            <option value="" selected disabled="disabled">Selecciona tipo de sinodal</option>
            <option value="Director">Director</option>
            <option value="Co-director">Co-director</option>
            <option value="Sinodal">Sinodal</option>
        </select>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="margin-top: 40px" class="container p-5 h-100">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="button" id="btn_Guardar" onclick="guardarRegistro()" class="btn btn-success" value="Guardar registro"/>
        </div>
    </div>
    <div id="cambiosFalse"  class="alert alert-danger" hidden>
        No hay cambios por guardar
    </div>
    
    <div id="errorAlert"  class="alert alert-danger" hidden>
        Ha ocurrido un error al realizar la tarea solicitada, inténtelo de nuevo.
    </div>
    
    <div id="errorSinDirector" class="alert alert-danger" hidden>
        El trabajo recepcional debe tener al menos un director.
    </div>
    
    <div id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Datos guardados</h5>
                </div>
                <div class="modal-body">
                    <p>Sinodales asignados correctamente</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="confirmarRegistro()" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalEliminarSinodal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar sinodal</h5>
                </div>
                <div class="modal-body">
                    <p>¿Deseas confirmar la eliminación del sinodal?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="confirmarEliminacionSinodal()" class="btn btn-danger">Comfirmar</button>
                    <button type="button" class="btn btn-secondary" onclick="cerrarModal()" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
    const valores = window.location.search;
    const params = new URLSearchParams(valores)
    let idTrabajo = params.get('id');
    let idSinodalEliminar;
    let cambios = false;
    let totalSinodales = 0;
    let tablaSinodales = document.getElementById("tblsinodales");
    let tablaSinodalesAsignados = document.getElementById("tblsinodalesAsignados");
    let listaSinodalesAsignar = new Array();
    let listaSinodalesDisponibles = new Array();
    let listaSinodalesAsignados = new Array();
    let tieneDirector = false;
    
    function cerrarModal(){
        $('#modalEliminarSinodal').modal('hide');
    }
    
    function asignarSinodal(idSinodal){
        let combo_tipo = document.getElementById("select_tipo").value;
        let sinodalAsignar = getSinodal(idSinodal);
        if (combo_tipo != ""){
            if (totalSinodales < 3){
                document.getElementById("seleccionError").hidden = true;
                document.getElementById("errorDirector").hidden = true;                    
                if (sinodalAsignar!=null){
                    sinodalAsignar.tipo = combo_tipo;
                    if (sinodalAsignar.tipo == "Director"){
                        tieneDirector = true;
                    }
                    sinodalAsignar.idTrabajo = idTrabajo;
                    if (!validarDirectorAsignar(sinodalAsignar) && !validarDirectorAsignados(sinodalAsignar)){
                        let row = `<tr class="table-bordered" id="${sinodalAsignar.SinodalDelTrabajoId}"><td>${sinodalAsignar.Nombre}</td>
                                    <td>${combo_tipo.toString()}</td>
                                    <td><button id="btn_eliminarSinodal" onclick="eliminarSinodalAsignado('${encodeURIComponent(JSON.stringify(sinodalAsignar))}')" 
                                    class="btn btn-danger eliminarSinodal">Eliminar</button></td><tr>`;
                        listaSinodalesAsignar.push(sinodalAsignar);
                        recargarTabla(sinodalAsignar.SinodalDelTrabajoId);
                        llenarTabla(listaSinodalesDisponibles);
                        tablaSinodalesAsignados.innerHTML += row;
                        totalSinodales++;
                    }else{
                        document.getElementById("errorDirector").hidden = false;
                    }
                    cambios = true;
                }
            }else{
                document.getElementById("sinodalesInvalidos").hidden = false;
            }
        }else{
            document.getElementById("seleccionError").hidden = false;
        }
    }
    
    function validarDirectorAsignados(sinodalAsignar){
        for(let i=0; i<listaSinodalesAsignados.length;i++){
            if (sinodalAsignar.tipo == listaSinodalesAsignados[i].tipo && sinodalAsignar.tipo == "Director"){
                return true;
            }else{
                return false;
            }
        }
    }
    
    function validarDirectorAsignar(sinodalAsignar){
        for (let i=0; i<listaSinodalesAsignar.length;i++){
            if (sinodalAsignar.tipo == listaSinodalesAsignar[i].tipo && sinodalAsignar.tipo == "Director"){
                return true;
            }else{
                return false;
            }
        }
    }
    
     function recargarTabla(sinodalId){
               let index;
               for (let i=0; i<listaSinodalesDisponibles.length; i++){
                   if (sinodalId == listaSinodalesDisponibles[i].SinodalDelTrabajoId){
                       index = i;
                       listaSinodalesDisponibles.splice(index,1);
                       $('#tblsinodales > tbody').empty();
                   }
               }
     }
    
    function getSinodal(idSinodal){
        for (let i = 0; i<listaSinodalesDisponibles.length;i++){
            if (idSinodal == listaSinodalesDisponibles[i].SinodalDelTrabajoId){
                 return listaSinodalesDisponibles[i];
            }
        }
    }
    
        
    function eliminarSinodalAsignado(profesorSeleccionado){
        totalSinodales--;
        alertInvalidos = document.getElementById('sinodalesInvalidos');
        var sinodal = JSON.parse(decodeURIComponent(profesorSeleccionado));
        listaSinodalesAsignar.pop(sinodal);
        listaSinodalesDisponibles.push(sinodal);
        recargarEliminados();
        llenarTabla(listaSinodalesDisponibles);
        $('#tblsinodalesAsignados').find('#'+sinodal.SinodalDelTrabajoId).remove();
        if (alertInvalidos.hidden == false){
            alertInvalidos.hidden = true;
        }
    }
    
    function eliminarSinodalAsignadoGuardado(idSinodal){
        idSinodalEliminar = idSinodal;
        $('#modalEliminarSinodal').modal('show')
    }
        
    function confirmarEliminacionSinodal(){
        $.ajax({
            url: "?handler=EliminarSinodal",
            type: "POST",
            data: {idSinodal: idSinodalEliminar, idTrabajo: idTrabajo},
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (res){
                if(res.success){
                    document.location.reload();
                    cambios = true;
                    totalSinodales--;
                }else{
                    $('#errorAlert').hidden = false;
                }
                },
                error: function (){
                $('#errorAlert').hidden = false;

            }
        })
    }
        
     function recargarEliminados(){
         $('#tblsinodales > tbody').empty();
     }
       
           
    function cargarSinodalesAsignados(){
      $.ajax({
                  url: "?handler=ObtenerSinodalesAsignados",
                  type: "GET",
                  data: {idProyecto: idTrabajo},
                  headers: {
                      RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                  },  
                  success: function (data){
                      listaSinodalesAsignados = JSON.parse(data);
                      totalSinodales = listaSinodalesAsignados.length;
                      llenarTablaAsignados(listaSinodalesAsignados);
                  },
                  error: function (data){
                      $('#errorAlert').hidden = false;
                  }
              })   
    }
    
    
    function cargarSinodales(){
        $.ajax({
            url: "?handler=ObtenerSinodales",
            type: "GET",
            data: {idProyecto: idTrabajo},
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            },  
            success: function (data){
                listaSinodalesDisponibles = JSON.parse(data);
                llenarTabla(listaSinodalesDisponibles);
            },
            error: function (data){
                $('#errorAlert').hidden = false;
            }
        }) 
    }
    
    function llenarTablaAsignados(listaAsignados){
        for (var i=0; i<listaAsignados.length;i++){
                    let row = `<tr id='${listaAsignados[i].idSinodal}'>
                                <td>${listaAsignados[i].nombre}</td>
                                <td>${listaAsignados[i].tipo}</td>
                                <td><button id="btn_eliminar" onclick="eliminarSinodalAsignadoGuardado(${listaAsignados[i].idSinodal})" class="btn btn-danger">Eliminar</button></td>
                                </tr>`
                        tablaSinodalesAsignados.innerHTML += row;
                    if (listaAsignados[i].tipo == "Director"){
                        tieneDirector = true;
                    }
        }
    }
    
    
    function llenarTabla(listaSinodales){
        listaSinodalesDisponibles = listaSinodales;
        for (var i=0; i<listaSinodales.length;i++){
            let row = `<tr id='${listaSinodales[i].SinodalDelTrabajoId}'>
                        <td>${listaSinodales[i].Nombre}</td>
                        <td><button id="btn_asignar" onclick="asignarSinodal(${listaSinodales[i].SinodalDelTrabajoId})" class="btn btn-primary">Asignar</button></td>
                        </tr>`
                tablaSinodales.innerHTML += row;
            }     
    }
    
    function guardarRegistro(){
            if (cambios){
                if (totalSinodales <3){
                    for (let i = 0;i<listaSinodalesAsignar.length;i++){
                        $.ajax({
                        url: "?handler=GuardarRegistro",
                        type: "POST",
                        data: {SinodalId: listaSinodalesAsignar[i].SinodalDelTrabajoId, 
                        idTrabajo: listaSinodalesAsignar[i].idTrabajo, Tipo: listaSinodalesAsignar[i].tipo},
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (res){
                            if(res.success){
                                $("#modal").modal('show');
                            }else{                        
                                $('#errorAlert').hidden = false;                                                            
                            }
                        },
                        error: function (){
                            $('#errorAlert').hidden = false;                                                            
                        }
                        })}
                }else if (totalSinodales == 3 && tieneDirector){
                    for (let i = 0;i<listaSinodalesAsignar.length;i++){
                        $.ajax({
                        url: "?handler=GuardarRegistro",
                        type: "POST",
                        data: {SinodalId: listaSinodalesAsignar[i].SinodalDelTrabajoId, 
                        idTrabajo: listaSinodalesAsignar[i].idTrabajo, Tipo: listaSinodalesAsignar[i].tipo},
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (res){
                            if(res.success){
                                $("#modal").modal('show');
                            }else{                        
                                $('#errorAlert').hidden = false;                                                            
                            }
                        },
                        error: function (){
                            $('#errorAlert').hidden = false;                                                            
                        }
                        })}                    
                }else{
                    console.log("Sin director")
                    document.getElementById('errorSinDirector').hidden = false;
                }
            }else{
                document.getElementById("cambiosFalse").hidden = false;
            }
       }
    
       function confirmarRegistro(){
            window.open("TrabajosRecepcionales", "_self");
       }
       
   
          //Sección para mostrar la información
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
      cargarSinodales();
      cargarSinodalesAsignados();
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                      <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link" href="../UIExperienciaRecepcional">Experiencia recepcional</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" href="TrabajosRecepcionales">Trabajos recepcionales</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" onclick="window.location.reload()">Asignar sinodales</a>
                                    </li>`
                                        
  }
  </script>
}