@page
@model SER.Pages.UICoordinador.ExperienciaRecepcional.EditarTrabajoRecepcional

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>