@page
@model SER.Pages.UICoordinador.ExperienciaRecepcional.NuevoTrabajoRecepcional

@{
    ViewData["Title"] = "Registrar nuevo trabajo recepcional";
}

<form id="registrarTrabajoForm"  enctype="multipart/form-data" method="post">
    <div class="tab">
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 50px">
                <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" asp-for="TrabajoRecepcional.Nombre" placeholder="Nombre del trabajo recepcional" required>
                <select class="form-select" style="float: right; border-radius: 5px; margin-left: 15px" asp-for="TrabajoRecepcional.Duracion" required>
                    <option value="" disabled selected>Seleccionar duración</option>
                    <option value="6 meses">6 meses</option>
                    <option value="12 meses">12 meses</option>
                </select>
                <input class="form-control" id="datepicker" asp-for="TrabajoRecepcional.Fechadeinicio" onkeydown="return false" type="date" placeholder="dd-mm-yyyy" min="2010-01-01" max="2030-12-31" style="margin-left: 15px; border-radius: 5px" required="required"/>
                <input type="text" class="form-control" style="float: left; margin-left: 15px; min-width: 50px; border-radius: 5px;" asp-for="TrabajoRecepcional.LineaDeInvestigacion" placeholder="Linea de investigación" required>
            </div>
        </div>
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 50px">
                <select class="form-select" style="float: left; min-width: 50px; border-radius: 5px;" asp-for="TrabajoRecepcional.Modalidad" required>
                    <option value="" disabled selected>Seleccionar modalidad</option>
                    <option value="Tesina" >Tesina</option>
                    <option value="Tesis" >Tesis</option>
                    <option value="Monografía" >Monografía</option>
                    <option value="Memoria">Memoria</option>
                    <option value="Trabajo práctico-técnico">Trabajo práctico-técnico</option>
                    <option value="RSL">RSL</option>
                    <option value="RML">RML</option>
                </select>
                <select id="selectTipo" class="form-select" asp-for="proyectoAsociado" style="border-radius: 5px; margin-left: 15px" required>
                    <option value="" disabled="disabled" selected>Seleccionar tipo</option>
                    <option value="vinculacion">Vinculación</option>
                    <option value="pladea">PLADEAFEI</option>
                    <option value="investigacion">Proyecto de investigación</option>
                </select>
                <select id="estadoExperiencia" name="experienciaEstado" class="form-select" asp-for="TrabajoRecepcional.ExperienciaActual" style="border-radius: 5px; margin-left: 15px" required>
                    <option value="" disabled="disabled" selected>Selecciona experiencia de cursamiento</option>
                    <option value="er">Experiencia recepcional</option>
                    <option value="pg">Proyecto guiado</option>
                </select>
            </div>
        </div>
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 50px">
                <select id="selectProyecto" name="idProyecto" class="form-select" style="border-radius: 5px;" required>
                    <option value="" disabled selected>Seleccionar tipo de proyecto</option>
                </select>
            </div>
        </div>
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 30px">
                <label style="margin-top: 7px; margin-left: 20px" for="formFile">Selecciona el archivo del anteproyecto</label>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" name="fileTrabajoRecepcional"
                       accept="application/msword, application/pdf, application/vnd.ms-powerpoint" type="file" id="formFile">
            </div>
        </div>
        <div class="container" style="align-content: center">
            <div class="input-group mb-3" style="align-content: center; margin-top: 50px">
                <button id="btnGuardarProyecto" class="btn btn-success">Guardar registro</button>
            </div>
        </div>
    </div>
</form>

@if(TempData["Success"] !=null)
{
     <div class="alert alert-success">
         @TempData["Success"], redirigiendo...
     </div>
     
     <script>
         document.getElementById("btnGuardarProyecto").setAttribute('disabled', true)
          setTimeout(() => { window.location.href = 'TrabajosRecepcionales' }, 1500);
     </script>   
 }


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@section Scripts
{

    <script combos>
        let selectTipo = document.getElementById("selectTipo");
        let selectProyecto = document.getElementById("selectProyecto");
        let listaInvestigacion;
        let listaVinculacion;
        let listaPladea;
        
        
        selectTipo.addEventListener('change', function (){
            obtenerProyecto(selectTipo.value)
        })
        
        
        function obtenerProyecto(tipo){
            if (tipo == "pladea"){
                cargarPladea();    
            }else if (tipo == "vinculacion"){
                cargarVinculacion();
            }else if (tipo == "investigacion"){
                cargarInvestigacion();
            }
        }
        
        function cargarInvestigacion(){
            $.ajax({
                url: "?handler=ObtenerInvestigacion",
                type: "GET",
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },  
                success: function (data){
                    listaInvestigacion = JSON.parse(data);
                    llenarInvestigaciones(listaInvestigacion);
                },
                error: function (data){
                    console.log("Error");
                }
            }); 
        }
        
        function cargarPladea(){
            $.ajax({
                url: "?handler=ObtenerPladea",
                type: "GET",
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },  
                success: function (data){
                    listaPladeas = JSON.parse(data);
                    llenarPladea(listaPladeas);
                },
                error: function (data){
                    console.log("Error");
                }
            });             
        }
        
        function cargarVinculacion(){
             $.ajax({
                 url: "?handler=ObtenerVinculacion",
                 type: "GET",
                 headers: {
                     RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                 },  
                 success: function (data){
                     listaVinculaciones = JSON.parse(data);
                     llenarVinculacion(listaVinculaciones);
                 },
                 error: function (data){
                     console.log("Error");
                 }
             });            
        }
        
        function llenarPladea(pladeas){
            $("#selectProyecto option").remove();
            for (let i=0; i<pladeas.length; i++){
                let row = `<option value="${pladeas[i].PladeafeiId}" >${pladeas[i].Accion}</option>`;
                selectProyecto.innerHTML += row;
            }
        }
        
        function llenarVinculacion(vinculaciones){
            $("#selectProyecto option").remove();
            for (let i=0; i<vinculaciones.length; i++){
                let row = `<option value="${vinculaciones[i].id}" >${vinculaciones[i].nombre}</option>`;
                selectProyecto.innerHTML += row;
            }
        }
        
        function llenarInvestigaciones(investigaciones){
            $("#selectProyecto option").remove();
            for (let i=0; i<investigaciones.length; i++){
                let row = `<option value="${investigaciones[i].ProyectoDeInvestigacionId}" >${investigaciones[i].Nombre}</option>`;
                selectProyecto.innerHTML += row;
            }
        }
        
    </script>


    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                      <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link" href="../UIExperienciaRecepcional">Experiencia recepcional</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" href="TrabajosRecepcionales">Trabajos recepcionales</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" href="NuevoTrabajoRecepcional">Registrar trabajo</a>
                                    </li>`
                                        
  }
  </script>
}