@page
@model SER.Pages.RegistrarSinodalModel
@{
    ViewData["Title"] = "Registrar sinodal";
}

<form id="seleccionRegistro" method="post" style="margin-top: 50px">
    <div id="registroSeleccion" class="container">
        <div class="container p-2 h-100" style="margin-top: 40px">
            <h2 class="card-title" style="text-align: center; margin-bottom: 40px">Tipo de sinodal</h2>
            <div class="d-flex justify-content-center align-content-center h-100">
                <select id="select_tipo" asp-for="@Model.tipoRegistro" class="form-select" style="border-radius: 5px; width: 50%" required>
                    <option value="" selected disabled="disabled">Selecciona tipo de sinodal</option>
                    <option value="Interno">Sinodal interno</option>
                    <option value="Externo">Sinodal externo</option>
                </select>
            </div>
        </div>
        <div class="container p-5 h-100">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="submit" id="btnConfirmar" style="width: 100px" class="btn btn-success" value="Confirmar"/>
            </div>
        </div>
    </div>
</form>



@section Scripts
{

    <script show>
        let headerUV = document.getElementById("uv_header");
        let navPrincipal = document.getElementById("nav-principal");
        let sectionButtons = document.getElementById("section-buttons");
        let titleNav = document.getElementById("title-nav");
        let navigation = document.getElementById("navigation");
        let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                      <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link" href="../UIExperienciaRecepcional">Experiencia recepcional</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" href="Sinodales">Sinodales</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" href="RegistrarSinodal">Registrar sinodal</a>
                                    </li>`
                                        
  }
  </script>
}
