html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.uvheader{
  font-size: 20px;
  margin-right: 1000px;
  min-font-size: 15px;
  min-width: 320px;
  color: white;
  background-color: #2957CD
}

.serheader{
  color: white;
  background-color: #5ECD29
}

.halfheader{
  font-size: 35px;
  margin-right: 1000px;
  text-align: left;
  margin-left: 50px;
}

.halfheader2{
  margin-left: 50px;
  font-size: 40px;
  text-align: left;
}


.headerpanel{
  border-bottom: 1px solid;
}

.paneltitle{
  color: white;
  font-size: 35px;
  margin-left: 50px;
}


.logout-container{
  float: right;
}

#alertError{
    margin-bottom: 150;
}

.col{
  padding-top: inherit;
  height: 300px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
}

.col-md-4{
  height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btnPanel{
  font-family: Roboto, sans-serif;
  color: #7C7C7C;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #E7E7E7;
  background-color: #F6F6F6;
}

.btn-section{
  float: right;
}
