@page
@model SER.Pages.Student.CreateModel
@{
  ViewData["Title"] = "Registrar información";
  Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Student/Create.css" />
}

<!-- <div class="row mx-3 mt-4 my-2 mb-4 title-page">
  <div class="col-md-12">
    <h2 class="mb-3 d-inline text-black fs-2 ">
      <a class="text-black" asp-page="./Index">Alumnos</a>
    </h2>    
    <h3 class="text-black mb-3 d-inline fs-2">
      <i class="fs-4 fa-solid fa-chevron-right mx-1 fa-xs"></i>
      Registrar información del alumno
    </h2>
  </div>
</div> -->
<div class="container shadow-3 rounded-9 form-create p-5 mb-4">
  <div>
    <h5 class="mb-2 text-black fs-4 fw-normal">Formulario de Registro: <strong>Alumno</strong></h5>
    <p class="mb-4 mt-3">Por favor, completa el siguiente formulario con la información personal del alumno para registrarlo en el SER. La <strong>matrícula</strong> del alumno no podrá ser <strong>modificada</strong> una vez registrada.</p>
    <form id="form-create-student" method="post" asp-page-handler="CreateStudent" novalidate>
      <div class="d-flex">
        <i class="d-flex align-items-center fas fa-user me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-fullname" class="form-control form-control-lg" autocomplete="off" asp-for="student!.FullName" required/>
          <label class="form-label" for="input-fullname">Nombre completo <span class="text-danger">*</span></label>
        </div>
      </div>
      <span asp-validation-for="student.FullName" class="d-flex text-start text-danger mb-4"></span>
      <div class="d-flex">
        <i class="d-flex align-items-center fas fa-id-card me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-enrollment" class="form-control form-control-lg text-uppercase" data-mdb-showcounter="true" maxlength="9" autocomplete="off" asp-for="student!.Enrollment" required/>
          <label class="form-label" for="input-enrollment">Matrícula <span class="text-danger">*</span></label>
          <div class="form-helper"></div>
        </div>
      </div>
      <span asp-validation-for="student.Enrollment" class="d-flex text-start text-danger mb-4"></span>
      <div class="d-flex">
        <i class="d-flex align-items-center fas fa-envelope me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-email" class="form-control form-control-lg" autocomplete="off" asp-for="student!.Email" required/>
          <label class="form-label" for="input-enrollment">Correo electrónico <span class="text-danger">*</span></label>
        </div>
      </div>
      <span asp-validation-for="student.Email" class="d-flex text-start text-danger"></span>
      <div class="row gap-3 justify-content-end mx-0 fixed-bottom bg-white">
        <a role="button" class="btn btn-secondary w-auto" asp-page="./Index">
          <i class="fas fa-times me-2"></i>
          Cancelar&nbsp; 
        </a>
        <button type="submit" class="btn btn-primary w-auto">
          <i class="fas fa-check me-2"></i>
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="modal-create-student" tabindex="-1" data-mdb-keyboard="false" data-mdb-backdrop="true" aria-labelledby="modal-title-create-student" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content justify-content-center align-items-center">
      <div class="modal-header text-center">
        <h5 class="modal-title text-dark fs-2 display-6" id="modal-title-create-student">
          Registrando alumno
        </h5>
      </div>
      <div class="modal-body text-center mx-4">  
        <i class="fa-solid fa-spinner fa-6x fa-spin-pulse mt-3 mb-4"></i>
        <p>
          Se está vericando la información del alumno, por favor espere.
        </p>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/Student/Create.js"></script>
}