@page
@model SER.Pages.UICoordinador.UIExperienciaRecepcional

@{
  ViewData["Title"] = "Experiencia recepcional";
}

<div>
  <div class="mainpaneler container text-center">
    <div class="row">
      <div class="col-md-4">
        <button id="btnTrabajos" class="btnPanel" onclick="window.open('ExperienciaRecepcional/TrabajosRecepcionales', '_self')">Trabajos recepcionales</button>
      </div>
      <div class="col-md-4">
        <button id="btnSinodales" class="btnPanel" onclick="window.open('ExperienciaRecepcional/Sinodales','_self')">Sinodales</button>
      </div>
      <div class="col-md-4">
        <button id="btnExpedientes" class="btnPanel" onclick="window.open('ExperienciaRecepcional/Expedientes', '_self')">Expedientes</button>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                      <a class="nav-link" href="../Menus/UICoordinador">Coordinación</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="UIExperienciaRecepcional">Experiencia recepcional</a>
                                        </li>`
                                        
  }
  </script>
}
