@page
@model SER.Pages.UIAdministrador.Alumnos

@{
    ViewData["Title"] = "Alumnos"; 
}

<div class="container">
    <form method="post">
        <div class="container">
            <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px; margin-top: 50px;">
                <h3 style="font-size: 20px">ALUMNOS REGISTRADOS</h3>
            </div>
            <div class="input-group mb-3" style="margin-top: 50px">
                <input id="inputBuscar" type="text" name="query" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" placeholder="Búscar alumno">
                <button class="btn btn-primary" type="submit" onclick="buscarAlumno()" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
                <button class="btn btn-success" style="float: right; border-radius: 5px; margin-left: 5px" onclick="window.open('RegistrarAlumno', '_self')" type="button">Registrar alumno</button>
            </div>
        </div>
            
        <div>
            <hr />
            <div class="form-group">
                <div class="table-responsive">
                    <table id="tblalumnos" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Matricula</th>
                            <th>Modificar</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var alumno in Model.AlumnosLista)
                        {
                            <tr>
                                <td>@alumno.Nombre</td>
                                <td>@alumno.Matricula</td>
                                <td>
                                    <button asp-page-handler="modificar" asp-route-id="@alumno.Matricula" class="btn btn-primary" type="submit">Modificar</button>
                                </td>
                            </tr>
                        }
                        <div id="alertSinResultados"  class="alert alert-danger" hidden>
                            Búsqueda sin resultados
                        </div>
                        <div id="alertError"  class="alert alert-danger" hidden>
                            Búsqueda sin resultados
                        </div>
                        <div id="progress" class="progress" hidden>
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" style="width: 100%"></div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{

    <script buscador>
        $("#inputBuscar").keypress(function (event){
            if (event.keyCode == 13){
                buscarAlumno();
            }
        })
    
        function buscarAlumno(){
            document.getElementById("alertSinResultados").hidden = true;
            document.getElementById("alertError").hidden = true;
            let queryAlumno = document.getElementById("inputBuscar").value;
            document.getElementById("progress"). hidden = false;
            $.ajax({
                url: "?handler=BuscarAlumno",
                type: "GET",
                data: {queryAlumno: queryAlumno},
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },  
                success: function (data){
                    let resultado = JSON.parse(data);
                    document.getElementById("progress"). hidden = true;
                    if (resultado == "1"){
                        document.getElementById("alertSinResultados").hidden = false;
                    }else if (resultado == "0"){
                        document.getElementById("alertError").hidden = false;
                    }else{
                        llenarTabla(resultado);
                    }
                },
                error: function (data){
                    console.log("Error");
                }
            })
        }
        
        function llenarTabla(data){
            $('#tblalumnos > tbody').empty();
            let tablaAlumnos = document.getElementById("tblalumnos");
           for (let i=0; i<data.length; i++){
                let row = `<tr>
                            <td>${data[i].Nombre}</td>
                            <td>${data[i].Matricula}</td>
                            </tr>`
                tablaAlumnos.innerHTML += row;
           }
        }
    </script>

    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="../Menus/UIAdministración">Administración</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="Alumnos">Alumnos</a>
                                        </li>`
  }
  </script>
}