@page
@model SER.Pages.UIAdministrador.Docentes

@{
    ViewData["Title"] = "Docentes";
}

<div class="container">
    <div class="container">
        <div class="input-group mb-3" style="margin-top: 50px">
            <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" placeholder="Búscar profesor">
            <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
            <button class="btn btn-success" style="float: right; border-radius: 5px; margin-left: 5px" onclick="window.open('RegistrarDocente', '_self')"  type="button">Registrar profesor</button>
        </div>
    </div>
    
    <div>
        <hr />
        <div class="form-group">
            <div class="table-responsive">
                <table id="tbltrabajosrecepcionales" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Numero de personal</th>
                        <th>Modificar</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var profesor in Model.Profesors)
                    {
                        <tr>
                            <td>@profesor.Nombre</td>
                            <td>@profesor.NumeroDePersonal</td>
                            <td>
                                <button value="@profesor.ProfesorId" class="btn btn-primary" style="border-radius: 5px; margin-left: 5px" type="button">Modificar</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>