@page
@model SER.Pages.UIAdministrador.RegistrarAlumno

@{
    ViewData["Title"] = "Registrar alumno";
}

<div class="container" style="margin-bottom: 200px">
    <form id="registrarLgacform" method="post">
        <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px; margin-top:  50px">
            <h3 style="font-size: 20px">REGISTRAR ALUMNO</h3>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" id="inputNombreAlumno" name="Nombre" style="width: 348px;" placeholder="Nombre" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" id="inputApellidoPaterno" name="ApellidoPaterno" style="width: 348px;"placeholder="Apellido paterno" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" id="inputApellidoMaterno" name="ApellidoMaterno" style="width: 348px;"placeholder="Apellido materno" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" maxlength="9" id="inputMatricula" style="width: 348px;" name="Matricula" placeholder="Matricula" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="email" id="inputCorreoAlumno" style="width: 348px;" name="correo" placeholder="Correo electrónico" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-5 h-100">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="submit" class="btn btn-success" id="btnGuardarAlumno" value="Guardar registro"/>
            </div>
        </div>
    </form>
</div>


@if(TempData["Success"] !=null)
{
     <div class="alert alert-success">
         @TempData["Success"], redirigiendo...
     </div>
     
     <script>
         document.getElementById("btnGuardarAlumno").setAttribute('disabled', true)
          setTimeout(() => { window.location.href = 'Alumnos' }, 1500);
     </script>   
 }


@if (TempData["Error"] != null)
{
    <div id="alertError" class="alert alert-danger">
        @TempData["Error"]
    </div>
}



@section Scripts
{
    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="../Menus/UIAdministración">Administración</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="Alumnos">Alumnos</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="RegistrarAlumno">Registrar alumno</a>
                                        </li>`
  }
  </script>
}