.form-create,
.form-update {
	max-width: 700px !important;
	margin-top: 30px !important;
	overflow-y: auto;
}

.form-create,
.form-update,
.container-student-information {
	margin-bottom: calc(68px + 1em) !important;
}

@media (max-width: 690px) {
	.card-student-information,
	.form-create,
	.form-update {
		border: none !important;
		box-shadow: none !important;
		padding: 6% !important;
		padding-top: 0% !important;
		margin-top: 5% !important;
	}
	.icon-input {
		display: none !important;
	}
}

@media (max-width: 400px) {
	.row.fixed-bottom .btn {
		width: 100% !important;
	}
}

.row.fixed-bottom {
	position: fixed !important;
	padding: 15px !important;
	border-top: 1px solid #ddd !important;
	/* box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1) !important; */
	z-index: 500 !important;
}
