:root {
	--uv-blue-color: #18529d;
	--sucess-secundary-color: #dfe7f6;
	--sucess-color: #202124;
	--danger-color: #f8d7da;
}

@media (max-width: 690px) {
	.card-student-information {
		border: none !important;
		box-shadow: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.card-body {
		padding: 0 !important;
	}

	.icon-input {
		display: none !important;
	}

	.container-student-information {
		margin: 0 !important;
		padding: 0 !important;
	}

	.container-movil,
	#ex-with-icons-content {
		margin-left: 10px;
		margin-right: 10px;
	}
}

#tab-1,
#tab-2 {
	border-bottom-width: 0.25rem;
	border-bottom-style: solid;
	border-radius: 0 0 0.25rem 0.25rem;
	margin-top: -1px;
}

.no-content {
	height: 500px;
}

.no-content img {
	width: 180px;
}
