@page
@model SER.Pages.Account.ChangePasswordModel

@{
  ViewData["Title"] = "Cambio de contraseña";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Index.css" />
}

@if (!Model.IsValidToken) 
{
  <div class="container d-flex justify-content-center align-items-center  text-center p-5 rounded-9 shadow-6 form-login-container">
    <div>
      <h2 class="mb-4 text-dark fs-2 display-6">
        Oops! <br> Parece que tu enlace no es válido
      </h2>
      <p class="text-start mb-4">
        El enlace que usaste como referencia no es válido por alguna de las siguientes razones:
      </p>
      <section class="d-flex text-start">
        <ul class="list-unstyled">
          <li class="mb-1">
            <i class="fas fa-long-arrow-alt-right me-2 text-info"></i>
            Ya fue utilizado (por seguridad, solo se puede usar una vez cada enlace)
          </li>
          <hr>
          <li class="mb-1">
            <i class="fas fa-long-arrow-alt-right me-2 text-info"></i>
            No contiene información válida para el sistema
          </li>
          <hr>
          <li class="mb-1">
            <i class="fas fa-long-arrow-alt-right me-2 text-info"></i>
            Se encuentra caducado (solo tienen un tiempo válido de 20 minutos desde que fue creado)
          </li>
        </ul>
      </section>
      <div class="d-grid gap-2">
        <a role="button" class="btn btn-primary mt-4" asp-page="../Index">
          Aceptar
        </a>
      </div>
    </div>
  </div>
} 
else 
{
  @if (!Model.IsChangePassword) 
  {
    <div class="container d-flex justify-content-center align-items-center text-center p-5 rounded-9 shadow-6 form-login-container">
      <div>
        <h2 class="mb-4 text-dark fs-2 display-6">Crea una nueva contraseña</h2>
        <p class="text-center mb-4">
          Ingresa una nueva contraseña para tu cuenta. Recuerda usar combinaciones de letras, números y símbolos para
          generar una contraseña más segura.
        </p>
        <form method="post" class="row g-4" id="form-change-password" asp-page-handler="ChangePassword">
          <input type="hidden" name="token" value='@Request.Query["token"]' />
          <div class="col-12">
            <div class="form-outline d-flex justify-content-end  align-items-center">
              <input type="password" id="input-password" class="form-control form-control-lg" asp-for="user!.NewPassword" />
              <label class="form-label" for="input-password">Contraseña</label>
              <i role="button" class="fas fa-eye fa-lg px-3" id="icon-password" aria-label="Mostrar contraseña"></i>
            </div>
            <span class="d-flex text-start text-danger" asp-validation-for="user!.NewPassword"></span>
          </div>
          <div class="col-12">
            <div class="form-outline">
              <input type="password" id="input-confirm-password" class="form-control form-control-lg" asp-for="user!.ConfirmPassword" />
              <label class="form-label" for="input-confirm-password">Confirmación</label>
            </div>
            <span class="d-flex text-start text-danger" asp-validation-for="user!.ConfirmPassword"></span>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg" id="button-passwor-form">
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>
  } 
  else 
  {
    <div class="container d-flex justify-content-center align-items-center text-center
          p-5 rounded-9 shadow-6 form-login-container">
      <div>
        <h2 class="mb-4 text-dark fs-2 display-6">
          Contraseña cambiado correctamente
        </h2>
        <p class="text-center mb-4">
          Se completó el proceso de cambio/actualización de contraseña de tu cuenta de manera correcta.
        </p>
        <div class="d-grid gap-2">
          <a role="button" class="btn btn-primary" asp-page="../Index">Aceptar</a>
        </div>
      </div>
    </div>
  }
}

@section Scripts {
  <script src="~/js/Index.js"></script>
}