@page
@model SER.Pages.Account.RecoveryPasswordModel

@{
  ViewData["Title"] = "Recuperar o cambiar contrase침a";

  string? alertType = null;
  string? alertMessage = null;

  if (ViewData["MessageError"] != null) 
  {
    alertType = "danger";
    alertMessage = ViewData["MessageError"] as string;
  } 
  else if (ViewData["MessageSuccess"] != null) 
  {
    alertType = "success";
    alertMessage = ViewData["MessageSuccess"] as string;
  }
}

@section Styles {
<link rel="stylesheet" href="~/css/Index.css" />
}

<div class="container d-flex justify-content-center align-items-center text-center p-5 rounded-9 shadow-6 form-login-container">
  <div>
    <h2 class="mb-4 text-dark fs-2 display-6">Cambiar o recuperar contrase침a</h2>
    <p class="text-center">
      Ingrese el nombre de usuario con el que fue registrado para buscar su cuenta.
    </p>
    @if (alertType != null && alertMessage != null) 
    {
      <div id="alert-message" class="alert alert-@alertType my-4">
        @alertMessage
      </div>
    }
    <form method="post" id="form-assign-token" asp-page-handler="AssignToken">
      <div class="form-outline d-flex justify-content-end align-items-center">
        @if (Model.IsMailSent) 
        {
          <input type="text" id="input-username" class="form-control form-control-lg" autocomplete="off" asp-for="username" disabled readonly />
        } 
        else 
        {
          <input type="text" id="input-username" class="form-control form-control-lg" autocomplete="off" asp-for="username" required />
        }
        <label class="form-label" for="input-username">Usuario</label>
        <i class="fa-solid fa-circle-question fa-lg px-3"></i>
      </div>
      <span asp-validation-for="username" class="d-flex text-start text-danger"></span>
      <div class="d-flex gap-3 justify-content-end mt-4">
        @if (Model.IsMailSent) 
        {
          <a role="button" class="btn btn-primary" asp-page="../Index">Aceptar</a>
        } 
        else 
        {
          <a role="button" class="btn btn-secondary" asp-page="../Index">Cancelar</a>
          <button type="submit" id="button-send-email" class="btn btn-primary">Continuar</button>
        }
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="modal-send-email" tabindex="-1" data-mdb-keyboard="false" data-mdb-backdrop="true" aria-labelledby="modal-title-send-email" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content justify-content-center align-items-center">
      <div class="modal-header text-center">
        <h5 class="modal-title text-dark fs-2 display-6" id="modal-title-send-email">
          Enviando correo electr칩nico
        </h5>
      </div>
      <div class="modal-body text-center mx-4">
        <i class="fa-solid fa-paper-plane fa-6x fa-beat-fade mt-3 mb-4"></i>
        <p>
          Se est치 vericando su cuenta, por favor espere.
        </p>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/RecoveryPassword.js"></script>
}