:root {
	--uv-blue-color: #18529d;
	--sucess-secundary-color: #dfe7f6;
	--sucess-color: #202124;
	--danger-color: #f8d7da;
}

.form-create,
.form-update {
	max-width: 700px !important;
	margin-top: 15px !important;
	overflow-y: auto;
}

.container-course-information,
.form-create,
.form-update {
	margin-bottom: 120px !important;
}

@media (max-width: 690px) {
	/* .container-course-information, */
	.form-create,
	.form-update {
		border: none !important;
		box-shadow: none !important;
		padding: 6% !important;
		padding-top: 0% !important;
		margin-top: 5% !important;
	}
	.icon-input {
		display: none !important;
	}
	.container-course-information {
		width: 100% !important;
	}
}

@media (max-width: 400px) {
	.row.fixed-bottom .btn {
		width: 100% !important;
	}
}

.row.fixed-bottom {
	padding: 15px !important;
	border-top: 1px solid #ddd !important;
	z-index: 500 !important;
}

#toast-error {
	background-color: var(--danger-color);
}

#toast-success {
	background-color: var(--sucess-color);
}
